@import url('https://fonts.googleapis.com/css2?family=Niramit&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #000027;
    text-align: center;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 1rem;
}

header{
    margin:5vh 0 1.5rem;
    text-align: center;
}

.formContainer{
    border: 1px solid #1DD4ED;
    box-shadow: 0px 0px 8px 2px #1DD4ED, inset 0px 0px 19px 1px #1DD4ED;
    border-radius: 28px;
    width: 90vw;
    padding: 20px 20px 30px 40px;
    text-align: left;
    margin: auto;       
}

.signUp{
    color: #1DD4ED;
    font-size: 20px;
   
}

.signUpButton{
    background: linear-gradient(271.63deg, rgba(255, 0, 199, 0.479167) 0%, rgba(137, 18, 156, 0.52) 27.6%, #1B8695 100%);
    box-shadow: 0px 4px 4px rgba(38, 129, 141, 0.47);
    border-radius: 25px;
    width: 285px;  
    font-size: 20px;  
    text-align: center;
    padding: 8px;
    font-size: 25px;
    color: #FFFFFF;    
    margin-top: 25px;
    border: none;
}

.signUpButton:active, #logInButton:active, #logInGoogleButton:active{
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(3px);
}

.signUpFooter{
    width: 95%;
    position: fixed;
    text-align: right;
    bottom: 10px;
    right: 10px;
}

#login-container{
    border: 1px solid #1DD4ED;
    box-shadow: 0px 0px 8px 2px #1DD4ED, inset 0px 0px 19px 1px #1DD4ED;
    border-radius: 20px;
    text-align: left;
    padding: 20px 20px 30px 40px;
    width: 90vw;
    margin:20px auto;
    color:#1DD4ED;
    font-size: 20px;
}

input{
    background: transparent;
    border: none;
    width: 97%;
    border-bottom: 4px solid;
    color:#F8F7F7;
    font-size: 18px;
    border-image: linear-gradient(270deg, #1B8695 0%, rgba(137, 18, 156, 0.52) 52.08%, rgba(255, 0, 199, 0.4792) 100%) 10;
    margin-bottom: 20px;
}

#logInButton{
    background:linear-gradient(271.63deg, #1B8695 0%, rgba(137, 18, 156, 0.52) 72.92%, rgba(255, 0, 199, 0.479167) 97.92%);;
    box-shadow: 0px 4px 4px rgba(38, 129, 141, 0.47);
    border-radius: 25px;
    width: 285px;
    font-size: 25px;
    color:white;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    margin: 12px 0px;
    border: none;
}

#logInGoogleButton{
    background:linear-gradient(180deg, rgba(24, 155, 132, 0.62) 0%, rgba(24, 61, 155, 0.62) 100%);
    box-shadow: 0px 4px 4px rgba(38, 129, 141, 0.47);
    border-radius: 25px;
    width: 285px;
    font-size: 25px;
    color:white;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    margin: 12px 0px;
    border: none;
}

#miembro{
    color:white;
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    margin: 8vh 0px 0px;
}

#register{
    color:#1DD4ED;
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    margin: 0px;
}

#img-signup, #img-login{
    width: 70%;
}


#message, #messageError{
    margin-top: 1rem;
    color: white;
    font-size: 1em;
}

.container{
   display: flex;
   flex-direction: row;
   justify-content: space-around; 
   align-items: center;
}

#container-header{
    padding: 10px 0px;
    border: none;
    border-bottom: 4px solid;
    border-image: linear-gradient(270deg, #1B8695 0%, rgba(137, 18, 156, 0.52) 52.08%, rgba(255, 0, 199, 0.4792) 100%) 10;
}

#container-footer{
    padding: 10px 0px;
    border: none;
    border-top: 4px solid;
    border-image: linear-gradient(270deg, #1B8695 0%, rgba(137, 18, 156, 0.52) 52.08%, rgba(255, 0, 199, 0.4792) 100%) 10;
}

#header-home{
    margin:0 ;
}
#main-home{
    min-height: calc(90vh - 70px);
}

.homeFooter{
    width: 100%;
    position: fixed;    
    bottom: 0px;
    right: 0px;
}

#user-image{
    height: 32px;
}

#back-logout{
    display: inline-block;
    height: 28px;
}

.postButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 3em;
    position: fixed;
    bottom: 15%;
    right: 5%;
    background: linear-gradient(271.63deg, rgba(255, 0, 199, 0.479167) 0%, rgba(137, 18, 156, 0.52) 27.6%, #1B8695 100%);
    border-radius: 50%;
}

#post-link{
    display: inline-block;
    height: 26px;
}

@media (min-device-width: 961px) {
    .formContainer, #login-container{
        width: 50%;
    }

    #img-login{
        width: 24%;
    }

    #img-signup{
        width: 20%;
    }
    
    #miembro{
        margin: 2vh 0px 0px;
    }
}