.Home {
    background-image: url(imagenes/fondo.jpeg);
    background-size: 600px 736px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-blend-mode: lighten;

    font-size: 60px;
    font-weight: bolder;
    color: white;
    width: 414px;
    height: 736px;
}
.line1 {
    height: 1px;
    background: white;
    position: absolute;
    width: 340px;
    left: 37px;
    top: 125px;
}
.welcomDiv {
    font-size: 25px;
    font-weight: lighter;
    color: white;
    text-align: start;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    top: 120px;
    width:230px;
    position: absolute;
}
.line2 {
    height: 1px;
    background: white;
    position: absolute;
    width: 143px;
    left: 230px;
    top: 241px;
}
.buttonHomeLogin {
    background-color: rgba(128, 189, 174, 0.49);
    position: absolute;
    width: 319px;
    height: 38px;
    left: 48px;
    top: 00px;
    border-radius: 12px;
    border-color: rgba(35, 157, 128, 0.49);
    color:white;
    font-size: 15px;
}
.line3{
    height: 1px;
    background:  rgba(35, 157, 128, 0.49);
    position: absolute;
    width: 110px;
    left: 80px;
    top: 457px;
}  
.divO{
    font-size: 29px;
    top: 439px;
    left: 198px;
    position: absolute;
    font-style: italic;
    text-shadow:black -0.15em 0.15em;
}

.line4{
    height: 1px;
    background: rgb(35, 157, 128,0.49);
    position: absolute;
    width: 110px;
    left: 220px;
    top: 457px;
}
.btnRegistro{
    background-color: rgba(35, 157, 128, 0.49);
    position: absolute;
    width: 325px;
    height: 38px;
    left: 48px;
    top: 485px;
    border-radius: 12px;
    border-color: rgba(35, 157, 128, 0.49);
    color:white;
    font-size: 15px;
}
/* Aquí comienza mi inicio de sesión */
.welcomLogin{
    font-size: 55px;
    font-weight: bolder;
    color: rgb(21, 73, 33);
    text-align: center;
    padding: 10px;
}
.btnIniciar{
    background-color: rgba(35, 157, 128, 0.49);
    position: absolute;
    width: 325px;
    height: 38px;
    left: 48px;
    top: 390px;
    border-radius: 12px;
    border-color: rgba(35, 157, 128, 0.49);
    color:white;
    font-size: 15px;
}
.inputCorreo{
    position: absolute;
    background-color: (160, 160, 160, 0.19);
    width: 318px;
    height: 38px;
    left: 49px;
    top: 200px;
    border-radius:12px; 
    font-family:Arial, helvetica, sans-serif;
    font-size: 15px; 
  
}
.inputContraseña{
    position: absolute;
    width: 318px;
    height: 38px;
    left: 49px;
    top: 270px; 
    border-radius:12px; 
    font-family:Arial, helvetica, sans-serif;
    font-size: 15px;

}
.btnIniciarLogin{
    background-color: rgba(35, 157, 128, 0.49);
    position: absolute;
    width: 325px;
    height: 38px;
    left: 48px;
    top: 380px;
    border-radius: 12px;
    border-color: rgba(35, 157, 128, 0.49);
    color:white;
    font-size: 15px;
}
.btnHomeLogin{
    background-color: rgba(35, 157, 128, 0.49);
    position: absolute;
    width: 325px;
    height: 38px;
    left: 48px;
    top: 460px;
    border-radius: 12px;
    border-color: rgba(35, 157, 128, 0.49);
    color:white;
    font-size: 15px
}

/* Aquí comienza mi registro */
.welcomRegistro{
    font-size: 55px;
    font-weight: bolder;
    color: rgb(21, 73, 33);
    text-align: center;
    padding: 10px;
}
.inputNombreUser{
    position: absolute;
    width: 318px;
    height: 38px;
    left: 49px;
    top: 200px;
    border-radius:12px; 
    font-family:Arial, helvetica, sans-serif;
    font-size: 15px; 
}
.inputCorreoRegister{
    position: absolute;
    width: 318px;
    height: 38px;
    left: 49px;
    top: 270px;
    border-radius:12px; 
    font-family:Arial, helvetica, sans-serif;
    font-size: 15px; 
}
.inputContraseñaRegister{
    position: absolute;
    width: 318px;
    height: 38px;
    left: 49px;
    top: 340px;
    border-radius:12px; 
    font-family:Arial, helvetica, sans-serif;
    font-size: 15px; 
}

.btnIniciarLoginRegister{
    background-color: rgba(35, 157, 128, 0.49);
    position: absolute;
    width: 325px;
    height: 38px;
    left: 48px;
    top: 480px;
    border-radius: 12px;
    border-color: rgba(35, 157, 128, 0.49);
    color:white;
    font-size: 15px;
}
.btnRegisterHome{
    background-color: rgba(35, 157, 128, 0.49);
    position: absolute;
    width: 325px;
    height: 38px;
    left: 48px;
    top: 550px;
    border-radius: 12px;
    border-color: rgba(35, 157, 128, 0.49);
    color:white;
    font-size: 15px
}
footer {
    position: absolute;
    width: 315px;
    height: 24px;
    left: 60px;
    top: 692px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color:rgba(35, 157, 128, 0.49);
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
}
/* Aquí va nuestro Muro  */
.textoMuro{
    background-color: rgb(63, 68, 63);
    width: 414px;
    height: 736px;
    color: rgb(250, 250, 250);
    font-size: 14px;
    text-align: center;
    padding: 60px;
}
.publicacion{
    background-color: rgb(243, 243, 243);
    font-size: 20px;
    font-family: verdana;
    color: black;
    position: absolute;
    width: 325px;
    height: 38px;
    left: 48px;
    top: 200px;
}
.btnPublicar{
    background-color: rgba(70, 187, 86, 0.226);
    position: absolute;
    width: 325px;
    height: 38px;
    left: 48px;
    top: 250px;
    border-radius: 12px;
    border-color: rgba(35, 157, 128, 0.49);
    color:white;
    font-size: 15px   
}
.btnCerrarSesion{
    background-color: rgba(255, 255, 255, 0.637);
    position: absolute;
    width: 325px;
    height: 38px;
    left: 48px;
    top: 640px;
    border-radius: 12px;
    border-color: rgba(255, 255, 255, 0.49);
    color:rgba(4, 36, 28, 0.49);;
    font-size: 15px   
}